<div class="container-fluid">
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="createLogin(loginForm.value)">
      <div class="card card-body bg-light mb-2 mt-2">
        <div class="row mb-3">
          <label for="correo" class="col-form-label col-md-2">Correo del propietario: </label>
          <div class="col-md-5">
            <input type="text" formControlName="correo" id="correo" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('correo') 
            && hasError('correo', 'required')">Correo is required</em>
          </div>
        </div>
        <div class="row mb-3">
            <label for="contrasena" class="col-form-label col-md-2">Contraseña del propietario: </label>
            <div class="col-md-5">
              <input type="password" formControlName="contrasena" id="contrasena" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('contrasena') 
              && hasError('contrasena', 'required')">Contraseña is required</em>
            </div>
        </div>

        <br><br>
   
        <div class="mb-3 row">
            <div class="offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">LogIn</button>
            </div>
        </div>
        
      </div>
    </form>
  </div>